*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
body{
  background: #0f172a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
.container{
  background: #1e293b;
  padding:10px 30px;
  max-width: 500px;
  width: 70%;
  border-radius: 6px;
  box-shadow: 0 0 5px #0ea5e9;
}
input{
  width: 80%;
  padding: 8px 12px;
  font-size: 1.1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0;
}
.output{
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #0ea5e9;
}
button{
  padding: 7px 20px;
  margin: 0 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background: #0ea5e9;
  margin-bottom: 10px;
  transition: 0.2s ease;
}
button:hover{
  background: #0284c7;
}